<% if user_signed_in? %>
  <div class="card mt-4">
    <div class="card-body">
      Welcome, <%= current_user.name %>
    </div>
  </div>
  <div class="card mt-4">
    <div class="card-body">
      <%= link_to "Create Event", new_event_path, class: ["btn", "btn-primary"] %>
    </div>
  </div>
<% end %>
