<div class="container">
  <div class="row">
    <div class="col">
      <h1>Welcome</h1>
      <figure class="figure">
        <img src="https://getuikit.com/v2/docs/images/placeholder_600x400.svg" class="figure-img img-fluid rounded">
        <figcaption class="figure-caption">
          A nice welcome image
        </figcaption>
      </figure>
    </div>
    <div class="col">
      <p>
        <%= link_to "Check users", users_path %>
      </p>
    </div>
  </div>
</div>



